@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
$white:#fff;

@mixin button() {
    outline: none;
    border:none;
    border-radius: 2rem;
    color: #333;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    position: relative;
    overflow:hidden
    
}
*{
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize; 
}
html{
    font-size: 65%;
    overflow-x: hidden;

}
#header
{
    width: 100%;
    margin: 0;
    align-items: center;
    z-index:3;
    display: flex;
    justify-content: space-between;
    background: $white;
    padding:.1rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    font-weight: 400;
    font-size: 1.4rem;
    .navbar
    {
        .logo
        {
            img{
                height: 10rem;
            }
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style: none;
            li{
                margin-right:2rem ;
                a{
                    font-size: 1.5rem;
                    font-weight: 600;
                    text-decoration: none;
                    color: #333;
                    &:hover{
                        color: lightgreen;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .navbar-right
    {
        display: flex;
        flex-wrap: wrap;
        
        .icons
        {
            text-decoration: none;
            margin-right: 4rem;
            font-weight: 600;
            display: inline-block;
            cursor: pointer;
            font-size: 2rem; 
        }
        .fa-map-marker-alt::before
        {
            padding: 1rem;
        }
        .btn-sign
        {          
            .btn1{
                @include button();
                margin-right: 2rem;
                width:10rem;
                height: 3rem;
                
            }
            .btn2{
                @include button();
                margin-right: 2rem;
                width:10rem;
                height: 3rem;
                background: #333;
                color:$white;
            }
            

        }   
    }
}
#main
{
    margin: 0 auto;
    max-width: 134rem;
    .homeScreen
    {
        .homeScreen__top
        {
            background-color: #d8e8e3;
            text-align: center;
            padding: 3.2rem;
            margin-bottom: 2rem;
            h3{
                font-weight: 600;
                font-size: large;
                max-width: 65rem;
                margin-left: auto;
                margin-right: auto;
                line-height: 1.6;
            }
            a{
                color: black;
            }
        }
        .homeScreen__mid
        {
            display: flex;
            flex-wrap: wrap;
            gap: 6rem;       
            background-color: #f2f0eb;
            align-items: center;
            margin-bottom: 3rem;
            ;
            .homeScreen__midLeft
            {
               img{
                object-fit: cover;
                max-width: 67rem;
                max-height: 40rem;
               }
            }
            .homeScreen__midRight
            {
                justify-content: center;
                text-align: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 3rem;
                max-width: 52rem;
                margin-left: 5rem;
                margin-right: auto;
                
                h2{
                    font-size: 2.5rem;
                    font-weight: 600;
                    line-height: 1.6;
                }
                h4{
                    font-size: 2.5rem;
                    font-weight: 600;
                    line-height: 1.7;
                    max-width: 45rem;
                }
                button{
                    
                    @include button();
                    width: 17rem;
                    padding:0.7rem;
                    border: 0.1rem solid ;
                    background:#f2f0eb ;
                    
                }
            }
        }
        .homeScreen__bot
        {
            display: flex;
            flex-wrap: wrap;
            gap: 6rem;
            background: #ebdbc8;
            align-items: center;
            margin-bottom: 2rem;
            .homeScreen__botLeft
            {
                justify-content: center;
                text-align: center;
                display: flex;
                flex-direction: column;
                max-width: 52rem;
                margin-left: 9rem;
                margin-right: auto;
                
                h1{
                    max-width: 50rem;
                    font-size:5rem;
                    font-weight: 700;
                    letter-spacing: 0.5rem;
                }
                h3{
                    
                    font-size: 2.5rem;
                    line-height: 1.6;
                }
                button{
                    @include button();
                    width: 20rem;
                    padding: 0.5rem;
                    border: .1rem solid;
                    background:#ebdbc8 ;
                }
            }
            .homeScreen__botRight{
               img{
                max-width: 67rem;
                object-fit: cover;
                max-height: 58em;
               }
            }
        }
        .homeScreen__bottom
        {
            display: flex;
            flex-wrap: wrap;
            gap: 6rem;
            text-align: center;
            background: #1e3932;
            margin-bottom: 2rem;
            .homeScreen__bottomLeft
            {
                img{
                max-width: 67rem;
                object-fit: cover;
                max-height: 58rem;
                }
            }
            .homeScreen__bottomRight
            {
                display: flex;
                justify-content: center;
                flex-direction: column;
                max-width: 40rem;
                margin-left: auto;
                margin-right: auto;
              
                color:$white;  
                margin-bottom: 2rem;
                h1
                {
                    font-size: 5rem;
                    max-width: 50rem;
                    font-weight: 700;
                    letter-spacing: 0.5rem;
                }
                h3{
                    max-width: 48rem;
                    font-size: 2.4rem;
                    line-height: 1.2; 
                }
                button{
                    @include button();
                    width: 12rem;
                    padding: 0.5rem;
                    border: .1rem solid $white;
                    color: $white;
                    background: #1e3932;
                    margin-top: 1rem;
                }
            }
        }
        .homeScreen__bottom1
        {
            display: flex;
            flex-wrap: wrap;
            gap: 6rem;
            text-align: center;
            margin-bottom: 2rem;
            background: #d4e9e2;
            .homeScreen__bottom1Left
            {
                img{
                    max-width: 67rem;
                    object-fit: cover;
                    max-height: 58rem;
                }
            }
            .homeScreen__bottom1Right
            {
                display: flex;
                justify-content: center;
                flex-direction: column;
                max-width: 40rem;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                
                h2
                {
                    font-size: 2.5rem;
                    max-width: 50rem;
                    font-weight: 700;
                    letter-spacing: 0.5rem;
                }
                h4{
                    
                    font-size: 1.5rem;
                    line-height: 2; 
                }
                button{
                    @include button();
                    width: 10rem;
                    padding: 0.5rem;
                    border: .1rem solid;
                    background:#d4e9e2 ;
                }
            }
            
        }
        .homeScreen__fot
        {
            display: flex;
            flex-wrap: wrap;
            gap: 6rem;
            text-align: center;
            margin-bottom: 2rem;
            background: #d4e9e2;
            justify-content: center;
            .homeScreen__fotLeft{
                img{
                    max-width: 67rem;
                    max-height: 39rem;
                    object-fit: cover;
                }
            }
            .homeScreen__fotRight
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 50rem;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                h3
                {
                    font-size: 2.4rem;
                    font-weight: 600;
                    padding-bottom: 3rem ;
                }
                h4{
                    font-size: 1.9rem;
                    line-height: 1.5;
                }
                button{
                    @include button();
                    width: 10rem;
                    border: .1rem solid;
                    padding: 0.5rem;
                    margin-top: 2rem;
                    background: #d4e9e3;
                    
                }
            }
        }
        .homeScreen_fotter
        {
            justify-content: center;
            text-align: center;
            max-width: 64.6rem;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.4rem;
            
        }
    }
}
#footer
{
    margin: 0 auto;
    margin-top: 3rem;
    .box-container
    {
        display: grid;
        max-width: 135rem;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1.5rem;
        .box{
            h3{
                padding: .5rem;
            font-size: 1.9rem;
            color: black;
            }
            a{
                display: block;
                padding: 0.8rem;
                font-size: 1.6rem;
                color: grey;
                text-decoration: none;
            
            &:hover
            {
                color: black;
            }
            }
        }
        
    }
    .hr1{
        max-width: 135rem;
        margin-left: auto;
        margin-right: auto;
        
    }
    .icons
    {
      
        max-width: 135rem;
        margin-left: auto;
        margin-right: auto;
        ul{
            display: flex;
            flex-direction: row;
            
            li{
                list-style: none;
            }
            a{
                font-size: 3.5rem;
                text-decoration: none;
                cursor: pointer;
                color: black;
                margin-right: 2rem;
            }
        }
    }
}









@media (max-width: 1024px){
  #main{
      .homeScreen{ 
          .homeScreen__mid
         { 
              .homeScreen__midLeft
              {
                  img
                  {
                      max-width: 47rem;
                  }
              }
              .homeScreen__midRight
              {
                   max-width: 38rem;
                   h2 
                   {
                       font-size: 2.4rem;
                   }
                    h4
                    {
                       margin: auto;
                       font-size: 1.9rem;
                       max-width: 35rem;
                    }
                   button
                   {
                       font-size: 1.6rem;
                   }
              }
        }
        .homeScreen__bot{
            .homeScreen__botLeft
            {
                max-width: 30rem;
                margin: auto;
                h1
                {   
                    font-size:5rem;
                    max-width:29rem;
                }
                h3
                {
                    margin: auto;
                    font-size: 2.4rem;
                    max-width:35rem;
                    
                }
            }
            .homeScreen__botRight
            {
                img
                {
                    max-width:50rem;
                }
            }
        }
        .homeScreen__bottom
        {
            .homeScreen__bottomLeft
            {
                
            }
        }

        }
    }
}
@media (max-width: 768px)
{
    
}

@media (max-width: 425px) {
 
}